asgiref==3.2.4
astroid==2.3.3
behave==1.2.6
behave-django==1.3.0
coverage==5.0.3
Django==2.2.18
django-jsonview==1.3.1
Faker==4.0.1
isort==4.3.21
lazy-object-proxy==1.4.3
mccabe==0.6.1
parse==1.15.0
parse-type==0.5.2
pylint==2.4.4
python-dateutil==2.8.1
pytz==2019.3
selenium==3.141.0
six==1.14.0
sqlparse==0.3.1
text-unidecode==1.3
urllib3==1.25.8
wrapt==1.11.2
